<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js Test</title>
</head>

<body>
    <h1>Node.js Test</h1>
    <div>
        <form action="/image/upload" method="post" , enctype="multipart/form-data">
            <input type="file" , id="file" , accept="image/*" , name="imageFile">
            <p><input type="submit" , value="제출"></p>
        </form>
        <div>
</body>

</html>